#root {
    font-family: Karla;
    max-width: 550px;
    margin: 0 auto;
    padding: 2rem;
}

.trollface-svg {
    width: 30px;
    margin-right: 5px;
}

.title {
    font-size: 1.25rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0px 20px;
    background: linear-gradient(to right, #672280, #a626d3);
    color: white;
}

.nav__left {
    display: flex;
}

.nav__right {
    font-family: Inter;
    font-size: 0.75rem;
}